@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1199px){
  .inner{
    width: 100%;
  }

  .header-contents__sp__menu,
  .header-contents__sp__hemberger{
    display: none;
  }

  .main-introduction__img{
    float: none;
    margin: 0 auto 20px;
  }


  .main-introduction__text{
    margin-bottom: 20px;
  }
  
  .news-article__list{
    display: block;
  }

  .news-article__list__img:nth-child(n+1),
  .news-article__list__img:nth-child(n+4){
    margin: 0;
  }

  .news-article__list__img:nth-child(3n){
    margin-bottom: 80px;
  }

  .news-article-footer{
    display: block;
  }

  .news-article__text{
    margin-left: 0;
    margin-bottom: 40px;
  }

  .news-article__contact{
    margin: 0 auto;
  }

  .skill-section__container__img{
    display: block;
  }

  .skill-section__img{
    margin:0 0 88px; 
  }

  .skill-section__img:nth-child(n+4){
    margin: 0;
  }
}