@charset "UTF-8";

@media screen and (max-width:767px){
  .inner{
    width: 100%;
  }

  .header-contents__contact__btn{
    display: none;
  }

  .header-contents__sp__menu{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: block;
    position: relative;
  }


  .header-contents__sp__humberger{
    position: absolute;
    top: 80%;
    left: 15%;
    height: 1px;
    width: 14px;
    background-color: #ddd;
    display: inline-block;
    box-sizing: border-box;  
  }

  .header-contents__sp__humberger:nth-of-type(1){
    top:6px;
  }

  .header-contents__sp__humberger:nth-of-type(2){
    top:9px;
  }

  .header-contents__sp__humberger:nth-of-type(3){
    top: 12px;
  }

  .main-title{
    padding: 160px 0 130px;
  }

  .inner-main__title{
    font-size: 80px;
  }

  .main-introduction__img{
    float: none;
    margin: 0 0 25px;
  }

  .main-introduction__text{
    padding-bottom: 25px;
  }

  .news-article__list{
    display: block;
  }

  .news-article__list__img:nth-child(n+1),
  .news-article__list__img:nth-child(n+4){
    margin: 0;
  }

  .news-article__list__img:nth-child(3n){
    margin-bottom: 80px;
  }

  .news-article-footer{
    display: block;
  }

  .news-article__text{
    margin: 0 0 40px;
    line-height: 26px;
  }

  .news-article__contact{
    margin: 0;
    line-height: 26px;
  }

  .skill-section__container__img{
    display: block;
    padding-bottom: 88px;
  }

  .skill-section__img{
    margin: 0 0 88px;
  }

  .skill-section__img:nth-child(n+4){
    margin: 0;
  }

  .sns-nav{
    padding: 50px 0;
  }

  .sns-nav__list{
    display: block;
  }

  .sns-nav__list__item > .is-icon{
    width: 50%;
    padding: 25px 0;
  }
}