@charset "UTF-8";

.body{
  color: #333;
  font-family: "Lato";
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

img{
  vertical-align: bottom;
}

.title-font{
  font-family: "Raleway";
}

.clearfix{
  content: "";
  clear: both;
  display: block;
}

/* header */

.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header-contents{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contents__bolt{
  font-size: 26px;  
}

.header-contents__contact__btn{
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: .3s;
}

.header-contents__contact__btn:hover{
  transition: .3S;
  color: #333;
}

.header-contents__sp__menu,
.header-contents__sp__humberger{
  display: none;
}
/* header */

/* main-title */
.main{
  padding-top: 70px
}

.main-title{
  background-color: #f2f2f2;
  margin-top: auto;
  text-align: center;
  padding: 250px 0;
}

.inner-main__title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.inner-sub__title{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
/* main-title */

/* main-introduction */

.main-introduction{
  background-color: #74cfae;
  padding-top: 50px;
}

.main-introduction-section{
  overflow: auto;
  /* float: left; */
}

.main-introduction__img{
  margin-right: 246px;
  float: left;
}

.main-introduction__text,
.main-introduction__title{
  color: #fff;
  text-align: center;
}


.main-introduction__title{
  font-size: 24px;
  margin-bottom: 35px;
}

.main-introduction__text{
  font-size: 20px;
  line-height: 26px;
  word-break: break-all;
}
/*main-introduction*/

/*main-news*/
.news-article{
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.news-article__title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
}

.news-article__list{
  display: flex;
  flex-wrap: wrap;
}

.news-article__link{
  opacity: .7;
  transition: .3s;
}

.news-article__link:hover{
  opacity: 1.0;
  transition: .3s
}

.news-article__list__img:nth-child(n+1),
.news-article__list__img:nth-child(n+4){
  margin-right: 100px;
}

.news-article__list__img:nth-child(3n){
  margin-right: 0;
}

.news-article__list__img:nth-child(n+1){
  margin-bottom: 80px;
}

.news-article__list__img:nth-child(n+4){
  margin-bottom: 90px;
}

.news-article-footer{
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

.news-article__text{
  margin-left: 90px;
  word-wrap: break-all;
  line-height: 32px;
  width: 460px;
}

.news-article__contact{
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  margin:0 140px 0 90px;
  line-height: 36px;
  width: 150px;
  transition: .3s;
}

.news-article__contact:hover{
  color: #333;
  transition: .3s;
}
/*main-news*/

/*main-ourskills*/
.skill-section{
  background-color: #4e4e4e;
  padding:70px 0 100px 0;
}

.skill-section__title{
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
  font-size: 24px;
}

.skill-section__container__img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-section__img{
  margin-right: 180px;
}

.skill-section__img:nth-child(4n){
  margin-right: 0;
}

.skill-section__name{
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
/*main-ourskills*/

/*main-sns*/
.sns-nav{
  background-color:#f2f2f2;
  padding: 200px 0;
}

.sns-nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sns-nav__list__item{
  color: #74cfae;
  font-size: 40px;
  width: 185px;
  padding: 20px 0;
  transition: .3s;
}

.sns-nav__list__item:nth-child(n+4){
  margin-right: 0;
}

.sns-nav__list__item:hover{
  background-color: #fff;
  transition: .3s;
  width: 185px;
}
/*main-sns*/

/*footer*/
.footer{
  background-color: #74cfae;
}

.footer-box{
  padding: 20px 0 25px 0;
  text-align: right;  
}

.footer-box__text{
  color: #fff;
  font-size: 12px;
}
/*footer*/

@media screen and (min-width:768px) and (max-width:1199px){
  .inner{
    width: 97%;
    margin: 0 auto;
  }

  .header-contents__sp__menu,
  .header-contents__sp__hemberger{
    display: none;
  }

  .main-introduction{
    padding-bottom: 25px;
  }

  .main-introduction__img{
    float: none;
    margin: 0 auto 20px;
  }

  .main-introduction-section{
    text-align: center;
  }

  .main-introduction__text{
    margin: 0 86px 0 86px;
  }

  .news-article{
    text-align: center;
  }
  
  .news-article__list{
    display: block;
  }

  .news-article__list__img:nth-child(n+1),
  .news-article__list__img:nth-child(n+4){
    margin: 0;
  }

  .news-article__list__img:nth-child(3n){
    margin-bottom: 80px;
  }

  .news-article-footer{
    display: block;
  }

  .news-article__text{
    margin-left: 110px;
    margin-bottom: 40px;
    width: 80%;
  }

  .news-article__contact{
    margin: 0 auto;
  }

  .skill-section{
    text-align: center;
  }

  .skill-section__container__img{
    display: block;
  }

  .skill-section__img{
    margin:0 0 88px; 
  }

  .skill-section__img:nth-child(n+4){
    margin: 0;
  }

  .sns-nav__list__item{
    width: 25%;
  }

  .sns-nav__list__item:hover{
    width: 25%;
  }
}

@media screen and (max-width:767px){
  .inner{
    width: 97%;
    margin: 0 auto;
  }

  .header-contents__contact__btn{
    display: none;
  }

  .header-contents__sp__menu{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: block;
    position: relative;
  }


  .header-contents__sp__humberger{
    position: absolute;
    top: 80%;
    left: 15%;
    height: 1px;
    width: 14px;
    background-color: #ddd;
    display: inline-block;
    box-sizing: border-box;  
  }

  .header-contents__sp__humberger:nth-of-type(1){
    top:6px;
  }

  .header-contents__sp__humberger:nth-of-type(2){
    top:9px;
  }

  .header-contents__sp__humberger:nth-of-type(3){
    top: 12px;
  }

  .main-title{
    padding: 160px 0 130px;
  }

  .inner-main__title{
    font-size: 80px;
  }

  .main-introduction-section{
    text-align: center;
  }

  .main-introduction__img{
    float: none;
    margin: 0 0 25px;
  }

  .main-introduction{
    padding-bottom: 25px;
  }

  .news-article{
    text-align: center;
  }

  .news-article__list{
    display: block;
  }

  .news-article__list__img:nth-child(n+1),
  .news-article__list__img:nth-child(n+4){
    margin: 0;
  }

  .news-article__list__img:nth-child(3n){
    margin-bottom: 80px;
  }

  .news-article-footer{
    display: block;
  }

  .news-article__text{
    margin: 0 0 40px;
    line-height: 26px;
    width:100%;
  }

  .news-article__contact{
    margin: 0;
    line-height: 26px;
  }

  .skill-section{
    text-align: center;
  }

  .skill-section__container__img{
    display: block;
    padding-bottom: 88px;
  }

  .skill-section__img{
    margin: 0 0 88px;
  }

  .skill-section__img:nth-child(n+4){
    margin: 0;
  }

    .sns-nav{
      padding: 50px 0;
    }
  
    .sns-nav__list{
      display: block;
    }
  
    .sns-nav__list__item > .is-icon{
      width: 185px;
      padding: 25px 0;
    }
}
